<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral" requirePermission="true"/>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PIS_Sys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
	  <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <dataConfiguration defaultDatabase="mysql"/>
  <connectionStrings>
    <add name="mysql" connectionString="Database='pathology';Data Source='127.0.0.1';port='3307';User Id='root';Password='125353Ct';charset='utf8'; Allow User Variables='True'" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <requiredRuntime version="v4.0.30319" />
  </startup>
  <userSettings>
    <PIS_Sys.Properties.Settings>
      <setting name="Bb_Reg_Curor" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Refresh_Date_FW" serializeAs="String">
        <value>两周</value>
      </setting>
      <setting name="Refresh_Date_QC" serializeAs="String">
        <value>两周</value>
      </setting>
      <setting name="DTthumsWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DTthumsHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Refresh_Date_ZP" serializeAs="String">
        <value>两周</value>
      </setting>
      <setting name="BGthumsWidth" serializeAs="String">
        <value>102</value>
      </setting>
      <setting name="BGthumsHeight" serializeAs="String">
        <value>76</value>
      </setting>
      <setting name="SystemUI" serializeAs="String">
        <value>Office2007Blue</value>
      </setting>
      <setting name="DTDevice" serializeAs="String">
        <value />
      </setting>
      <setting name="BGDevice" serializeAs="String">
        <value />
      </setting>
      <setting name="Refresh_Date_BG" serializeAs="String">
        <value>两周</value>
      </setting>
      <setting name="Open_BG_SXT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportPrintNum" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="zpBarcodePrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="zpBarcodePrintNum" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="djBarcodePrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="djBarcodePrintNum" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="djBarcodePrint" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="zpBarcodePrintSL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="qcListPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="tjBarcodePrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="tjBarcodePrintNum" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Open_DT_SXT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Load_DT_IMG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RecordBBFlag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EditPicName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DjType" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DjNewForm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlhCreateFlag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="zkapp_flag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="smPhoto_flag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QcBg_flag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="His_PatInfo_Flag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Bp_Ksmc" serializeAs="String">
        <value>滨州市人民医院</value>
      </setting>
      <setting name="Open_Smxj" serializeAs="String">
        <value>False</value>
      </setting>
    </PIS_Sys.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="LastUser" value=""/>
    <add key="w_big_type" value="PL,XBX,HZ" />
    <add key="w_big_type_name" value="组织学,细胞学,病理会诊" />
    <add key="w_big_type_db" value="'PL','XBX','HZ'" />
    <add key="SysVersion" value="6.2.0.126"/>
    <!--蜡块号是否自增-->
    <add key="QchmZj" value="1"/>
    <!--取材信息自动添加一行-->
    <add key="QcInfoAutoZj" value="0"/>
    <!--取材保存自动核对-->
    <add key="QcSaveAutoHd" value="1"/>
    <!--取材自动保存-->
    <add key="QcSaveAuto" value="0"/>
    <!--登记提示合并-->
    <add key="DjTshb" value="0"/>
    <!--蜡块包埋盒打号机和玻片打号机设备设置-->
    <add key="SMFDEVICE" value="1"/>
    <!--HL7全自动免疫组化设备设置-->
    <add key="MYZH" value="0"/>
    <add key="MYZH_IP" value="10.0.11.155"/>
    <add key="MYZH_PORT" value="30000"/>
    <!--取材工作站大类设置-->
    <add key="QC_TYPE" value="'PL','HZ'"/>
    <!-- HIS数据库连接串-->
    <add key="HisDB" value=" Data Source=192.168.8.114/bzrmxxgl;User ID=tjpis;Password=tjpis"></add>
    <!--保持视频缩放比例-->
    <add key="KeepAspectRatioFlag" value="1"/>
    <!--数字摄像头类别配置(0通用1官方)-->
    <add key="UsbCameraType" value="0"/>
  </appSettings>
</configuration>
