<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PathologyClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="LastUser" value=""/>
    <add key="SystemUI" value="Office2007Blue"/>
    <add key="ServicesUrl" value="http://localhost:8888/"/>
    <add key="hospital_code" value="001"/>
  </appSettings>
  <userSettings>
    <PathologyClient.Properties.Settings>
      <setting name="CurPrinter" serializeAs="String">
        <value/>
      </setting>
      <setting name="Print_Sqd_Flag" serializeAs="String">
        <value>False</value>
      </setting>
    </PathologyClient.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
